<div id="player" ></div>
<script src="http://www.youtube.com/player_api"></script>
<script>

    var a = <%= sanitize @ytlinks.pluck(:link).to_json %>
    var i = 0
    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('player', {

        height: '500',
        width: '100%',
        videoId: a[i],
        // playerVars:{
        //   controls:0
        // },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    // autoplay video
    function onPlayerReady(event) {
      event.target.playVideo();

    }

    // when video ends
    function onPlayerStateChange(event) {        
      

      if(event.data === 0) { 

        i += 1
        if (i+1  > a.length){
          i = 0
        }

        player.loadVideoById(a[i])

      }
    }
    
</script>