<div class="intro">
	<%= image_tag "HEADER.jpg" %>

	<div class="newsong">
		<%= render 'new' %>
	</div>
</div>

<% if params[:keyword] %>
	<% @tags.collect{|cu| cu.song}.uniq.each do |s| %>
	 <%= render :partial => 'songs',:locals => {:s => s} %>
	<% end %>
<% else %>
	<% @songs.each do |s| %>
	 <%= render :partial => 'songs',:locals => {:s => s} %>
	<% end %>
<% end %>



