function subscribe_song( song_id ) {
  App.ytlinks = App.cable.subscriptions.create(
    {
      channel: "YtlinksChannel",
      song_id: song_id
    },
    {
      connected: function() {
        console.log("connected to YtlinksChannel")
      },
      disconnected: function() {},
      received: function(data) {
        names = [];
        links = [];
        long = data.length
        for(i = 0; i < long;i++ ){
          names.push(data[i][0]);
          links.push(data[i][1]);
        }
        a = links;
        alert(names);
        $("#ytlinks").append(
          "<table class = 'table table-bordered'>" +
            "<tr>" +
            "<td>" + "<b>NEW!!</b>" + "</td>" + 
            "<td>" + data[long-1][0] + "</td>" + 
            "<td>" + data[long-1][1] + "</td>" +
            "</tr>" +
          "</table>"
         )
      }
    }
  );
}