/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background:transparent url('mosaic.png') left top repeat;
}
.footer{
  height: 100px;
}
tr{
	background-color: #fff;
}

img.header{
	width: 100%;
	height: auto;
	// padding: 15px;
  margin-bottom: 20px;
}

img.photo{
  padding: 5px;
  width: 50px;
  height: 50px;
}
.intro{
	position: relative;
}

.newsong{
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
  transform : translateX(-50%) translateY(-50%);
	box-shadow: 10px 10px 15px rgba(0,0,0,0.15),-10px 10px 15px rgba(0,0,0,0.15);
	.panel{
		margin: 0;
	}
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
	color:black;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
  &:hover{
  	background-color: #e5e5e5;
  }
}
.pagination {
  margin: 0 0 0 0;
  background-color: #fff;
  border-left: 1px solid #ddd;
  span.current{
    background-color: #e5e5e5;
  	font-size: 2rem;
  }
}
.btn-danger{
  background-color: #c5c5c5;
  border: 1px #fff solid
}
.btn-success:hover{
  background-color: #c5c5c5;
  border: 1px #fff solid
}
.btn-back{
  bottom: 20px;
  right: 12%;
  position: fixed;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05),-10px 10px 15px rgba(0,0,0,0.05);
}
